project:
  type: website

website:
  title: "Sasha Harrison"
  navbar:
    left:
      - href: index.qmd
        text: Blog
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
